# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build files
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage

# Logs
*.log

# Qt
*.qmlc

# Environment files
.env

# Python packaging
*.egg-info/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# PyInstaller
*.manifest
*.exe